<% content_for :page_title, "New Event"%>
<% content_for :page_subtitle, "Let's throw a party!"%>

<%= form_with(model: @event, local: true, class: "m-b-lg") do |form|%>
  <div class="field">
    <%=form.label :title, class: "label" %>
    <%=form.text_field :title, class: "input", placeholder: "Cumpleaños", :required => true%>
  </div>
  <div class="field">
    <%=form.label :cover, class: "label"%>
    <%=form.text_field :cover, class: "input", placeholder: "100", :required => true%>
  </div>
  <div class="field">
    <%=form.label :date, class: "label"%>
    <%=form.text_field :date, class: "input", placeholder: "15/1/2019", :required => true%>
  </div>
  <div class="field">
    <%=form.label :description, class: "label"%>
    <%=form.text_area :description, class: "textarea", placeholder: "Because of reasons...", :required => true%>
  </div>
  <div class="field">
    <%=form.label :location, class: "label"%>
    <%=form.text_field :location, class: "input", placeholder: "Av. Lincoln 2234", :required => true%>
  </div>
  <div id="here-map" class="here-map width-100 m-b-md"></div>
  <%= form.hidden_field :latitude  %>
  <%= form.hidden_field :longitude  %>
  <div class="field">
    <%=form.submit class:"button is-link", id:"submit-new-event"%>
  </div>
<%end%>