<%= content_for :page_title, @event.title%>
<%= content_for :page_subtitle, @event.date.to_date.to_formatted_s(:long) %>
<%= content_for :cover, "Cover: $" << number_with_precision(@event.cover, precision:2) %>

<div>
    <p class="has-text-grey">Description</p>
    <div class="hero is-light m-b-md">
        <p class="space "><%= @event.description %></p>
    </div>
</div>
<div>
    <p class="has-text-grey">Address</p>
    <div class="hero is-light m-b-md">
        <p class="space "><%= @event.address %></p>
    </div>
</div>
<div>
    <p class="has-text-grey" id="here-map" lon="<%=@event.longitude%>" lat="<%=@event.latitude%>">Map</p>
    <div class="hero is-light m-b-md">
        <p class="space "></p>
    </div>
</div>

<% if (current_user.id != @event.creator) %>
    <% if (@attending) %>
    <div>
        <%= link_to 'Attend!', create_attend_path, method: :post, class: "button is-link is-fullwidth" %>
    </div>
    <%else%>
        <article class="message is-success">
            <div class="message-header">
                 <p class="center-block">You're attending!</p>
            </div>
        </article>  
    <%end%>  
<%end%>
