<!DOCTYPE html>
<html>
  <head>
    <title>BoozeItUp</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://js.api.here.com/v3/3.1/mapsjs-core.js" type="text/javascript" charset="utf-8"></script>
    <script src="https://js.api.here.com/v3/3.1/mapsjs-service.js" type="text/javascript" charset="utf-8"></script>
    <script src="https://js.api.here.com/v3/3.1/mapsjs-ui.js"type="text/javascript" charset="utf-8"></script>
    <script type="text/javascript" src="https://js.api.here.com/v3/3.1/mapsjs-mapevents.js"></script>
    <link rel="stylesheet" type="text/css" href="https://js.api.here.com/v3/3.1/mapsjs-ui.css" />
  </head>
  <% if user_signed_in? %>
    <body class="has-navbar-fixed-bottom">
  <%end%>
    <body>
      <% flash.each do |name,message| %>
        <% if flash[:danger] %>
        <div id=confirmation class="hero is-flex is-justify-center">
          <article class="message is-warning">
            <div class="message-header">
                <p>Warning</p>
                <button id="cancel" class="delete" aria-label="delete"></button>
              </div>
              <div class="message-body has-text-centered <%= name %>">
                <p><%=message.html_safe %></p>
              </div>
            </article>
          </div>
          <%end%>
      <%end%>
      <section class="hero is-info is-bold m-b-md">
        <div class="hero-body">
          <div class="container">
            <h1 class="title">
              <%= yield :page_title%>
            </h1>
            <h2 class="subtitle">
              <%= yield :page_subtitle%>
            </h2>
            <h3 class="has-text-right subtitle is-size-6">
              <%= yield :cover%>
            </h3>
          </div>
        </div>
      </section>
      <section class="container content_padding p-b-md">
        <%= yield %>
      </section>
      <% if user_signed_in? %>
        <nav class="navbar is-fixed-bottom" role="navigation" aria-label="main navigation">
          <div class="navbar-menu is-flex is-justify-around has-background-dark">
            <%= link_to root_path, class: "navbar-item has-text-white" do%>
              <%= image_tag 'home.png'%>
            <%end%>
            <%= link_to event_new_path, class: "navbar-item has-text-white is-flex is-align-center" do%>
              <%= inline_svg "add.svg", size: '32px', style:'fill:white' %>
            <%end%>
            <a class="navbar-item has-text-white" id="toggle">
              <%= image_tag 'menu.png'%>
            </a>
          </div>
        </nav>
        <div class="menu has-background-dark p-md" id="menu">
          <div>
            <%= link_to "Parties I organize", my_events_path, class: "menu-item m-b-md has-text-white"%>
            <%= link_to "Parties I'm going", my_asists_path, class: "menu-item m-b-md has-text-white"%>
          </div>
          <div>
            <%= render 'devise/menu/registration_items' %>
            <%= render 'devise/menu/login_items' %>
          </div>
        </div>
      <%end%>
      <%= javascript_pack_tag 'contentLoaded'%>
    </body>
  </html>
